@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

    body {
      font-family: "PT Serif", serif;
      font-size: 20px;
      color: #000000;
      padding: 2rem;
    }

    h1 {
      font-family: "Montserrat", sans-serif;
      font-size: 60px;
      color: #392582;
    }